{$MINUTIA_APP_SITE_ADDRESS:http://localhost} {
	encode zstd gzip

	header {
		X-Content-Type-Options nosniff
		Referrer-Policy strict-origin-when-cross-origin
		X-Frame-Options DENY
	}

	handle /auth/v1/* {
		reverse_proxy supabase-kong:8000
	}

	handle /rest/v1/* {
		reverse_proxy supabase-kong:8000
	}

	handle /realtime/v1/* {
		reverse_proxy supabase-kong:8000
	}

	handle {
		reverse_proxy minutia-web:3000
	}
}

{$MINUTIA_API_SITE_ADDRESS:api.example.com} {
	encode zstd gzip

	header {
		X-Content-Type-Options nosniff
		Referrer-Policy strict-origin-when-cross-origin
		X-Frame-Options DENY
	}

	handle /auth/v1/* {
		reverse_proxy supabase-kong:8000
	}

	handle /rest/v1/* {
		reverse_proxy supabase-kong:8000
	}

	handle /realtime/v1/* {
		reverse_proxy supabase-kong:8000
	}

	handle {
		respond 404
	}
}
